@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width: 768px) {
  .container .row {
    margin-top: 10%;
  }
}
.imgLogin {
  width: 100%;
  background: url('./img/recetas.jpeg');
  height: 450px;
}
