@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width: 768px) {
  .container .row {
    margin-top: 10%;
  }
}
.imgLogin {
  width: 100%;
  background: url('./img/recetas.jpeg');
  height: 450px;
}
.img-svg {
  background: url('./img/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img-top:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.card-img-top {
  transition: all 0.3s ease-in-out;
}
